<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card marigin-10px" *ngFor="let value of notificationArr">
    <ion-row class="marigin-10px row-reverse" (click)="updateitem(value)">
      <ion-col>
        <div class="h7 m-0" [style.color]="getStatusColor(value.redirect)">
          {{value.title}}
        </div>
        <div class="h7 text-muted">{{value.notification_text}}</div>
        <div class="h7 text-dark" style="float: right">
          {{value.notification_date}}
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
