<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav" (click)="goback()"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Breakdown / Downtime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="newbreakdowndowntimeForm">
    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">Zone <sup>*</sup></div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <select
          formControlName="select_zone"
          class="h7 text-dark form-control"
          (change)="onChangeZone()"
        >
          <option value="" selected disabled hidden>Select</option>
          <option value="{{item.id}}" *ngFor="let item of zoneArr">
            {{ item.zone }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">Station <sup>*</sup></div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <select
          formControlName="select_station"
          class="h7 text-dark form-control"
          (change)="onChangeStation()"
        >
          <option value="" selected disabled hidden>Select</option>
          <option value="{{item.id}}" *ngFor="let item of stationArr">
            {{ item.station }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">Machinery <sup>*</sup></div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <select
          formControlName="select_machinery"
          class="h7 text-dark form-control"
          (change)="onChangeMachinery()"
        >
          <option value="" selected disabled hidden>Select</option>
          <option value="{{item.id}}" *ngFor="let item of machineryArr">
            {{ item.machinery }}
          </option>
        </select>
      </div>
    </div>

    <div *ngIf="partflag==true">
      <div class="form-row">
        <div class="col">
          <div class="h7 text-dark">Part <sup>*</sup></div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <select
            formControlName="select_part"
            class="h7 text-dark form-control"
          >
            <option value="" selected disabled hidden>Select</option>
            <option value="{{ parseString(item)}}" *ngFor="let item of partArr">
              {{ item.part }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">Replaced Part <sup>*</sup></div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <select
          formControlName="select_replacedpart"
          class="h7 text-dark form-control"
        >
          <option value="" selected disabled hidden>Select</option>
          <option
            value="{{item.replacedpartid}}"
            *ngFor="let item of replacedpartArr"
          >
            {{ item.replacedpart }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">Breakdown Time <sup>*</sup></div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <ion-datetime
          class="h7 form-control"
          formControlName="txt_breakdowntime"
          display-format="DD-MM-YYYY HH:mm"
        ></ion-datetime>
      </div>
    </div>

    <div class="form-row imgmarigin">
      <label class="h7 text-dark">Complainant Image</label>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 nopadding" style="text-align: right">
            <div
              class="imagePreview"
              *ngIf="imagePaths.complianantimagepath == ''"
            ></div>
            <div
              class="imagePresent"
              *ngIf="imagePaths.complianantimagepath != ''"
            >
              <img
                class="imagePresent"
                [src]="imagePaths.complianantimagepath"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 nopadding" style="text-align: right">
            <label class="btn btn-warning">
              Upload<input
                type="button"
                class="uploadFile img"
                value="Upload Photo"
                style="width: 0px; height: 0px; overflow: hidden; display: none"
                (click)="ImageUpload('ComplainantImage')"
              />
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">Complainant Remarks <sup>*</sup></div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <textarea
          class="h7 form-control"
          formControlName="tacomplaintremarks"
          rows="4"
          autosize
        ></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">Assigned To <sup>*</sup></div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <select
          formControlName="select_assignedto"
          class="h7 text-dark form-control"
        >
          <option value="" selected disabled hidden>Select</option>
          <option
            value="{{parseString(value)}}"
            *ngFor="let value of assignedtoArr"
          >
            {{ value.name }}
          </option>
        </select>
      </div>
    </div>

    <div style="text-align: center">
      <button
        type="submit"
        class="btn btn-info"
        (click)="save()"
        style="margin-top: 10px; margin-bottom: 10px"
      >
        Save
      </button>
    </div>
  </form>
</ion-content>
