<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Add Corrective Maintenance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="row-reverse">
    <ion-col size="12">
      <button type="button" class="btn btn-outline-danger btn-sm margin-5px" (click)="btn_CorrectiveMaintenance()">
        New Corrective Maintenance
      </button>
    </ion-col>
  </ion-row>
  <div class="home-box">
    <div class="card gedf-card margin-bottom" *ngFor="let value of correctivemaintenancelistArr">
      <div class="card-header" style="text-align: center">
        <div class="h7 text-danger"><b>WON: {{value.workorderno}}</b></div>
      </div>
      <div style="margin-top: 10px;margin-bottom: 10px;margin-left: 5px;margin-right: 5px;">
        <div class="h7 text-dark" *ngIf="value.mainsystem!=''"><b>MainSystem:</b> {{value.mainsystem}}</div>
        <div class="h7 text-dark" *ngIf="value.zone!=''"><b>Zone:</b> {{value.zone}}</div>
        <div class="h7 text-dark" *ngIf="value.station!=''"><b>Station:</b> {{value.station}}</div>
        <div class="h7 text-dark" *ngIf="value.machinery!=''"><b>Machinery:</b> {{value.machinery}}</div>
        <div class="h7 text-dark" *ngIf="value.locationid!=''"><b>Location ID:</b> {{value.locationid}}</div>
        <div class="h7" *ngIf="value.urgency!=''" [style.color]="getStatusColor(value.urgencyid)"><b>Urgency:</b> {{value.urgency}}</div>
        <div class="h7 text-dark" *ngIf="value.workstatus!=''"><b>Work Status:</b> {{ value.workstatus }}</div>
        <div class="h7 text-dark" *ngIf="value.status!=''"><b>Status:</b> <app-oval-shape status="{{ value.status }}" statusid="{{ value.statusid }}"></app-oval-shape></div>
        <div class="h7 text-dark" style="float: right"><b>Issued On:</b> {{value.issuedon}}</div>
      </div>

      <ion-row class="row-reverse">          
        <button type="button" class="h7 btn btn-outline-success btn-sm margin-5px" (click)="btn_CorrectiveMaintenanceView(value)">
          <ion-icon class="icon" name="eye-outline"></ion-icon>
          <span class="icontext">View</span>
        </button>

        <button type="button" class="h7 btn btn-outline-info btn-sm margin-5px" (click)="btn_CorrectiveMaintenanceDrafted(value)" *ngIf="value.statusid=='1'">
          <ion-icon class="icon" name="create-outline"></ion-icon>
          <span class="icontext">Edit</span>
        </button>

        <button type="button" class="btn btn-outline-danger btn-sm margin-5px" (click)="btn_CorrectiveMaintenanceRequest(value)" *ngIf="value.statusid=='2' && value.leaderid!='0'">
          <ion-icon class="icon" name="create-outline"></ion-icon>
          <span class="icontext">Request</span>
        </button>

        <button type="button" class="btn btn-outline-primary btn-sm margin-5px" (click)="btn_CorrectiveMaintenanceResponse(value)" *ngIf="(value.statusid=='3' || value.statusid=='4' || value.statusid=='5') && (value.workstatus!='Finished' || value.workstatus=='')">
          <ion-icon class="icon" name="create-outline"></ion-icon>
          <span class="icontext">Response</span>
        </button>
      </ion-row>     
    </div>
  </div>

  <div class="norecords" *ngIf="norecordflag==true">No Records Found...</div>
</ion-content>