<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-title color="light">{{mill_name}}</ion-title>

    <!-- <ion-buttons slot="primary">
      <ion-button class="bg-light-color" (click)="btn_notification()">        
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-card class="bg-yellow card-height bottompad-10px" no-margin>
        <span class="mdfont common-whitecolor">{{userlist.welcome_msg}}</span>
      </ion-card>
    </ion-row>
  </ion-grid>

  <div class="home-box" *ngIf="userlist">
    <ion-row *ngFor="let item of itemsArr">
      <ion-col size="6" *ngFor="let eachitem of item">
        <div class="card item-img" (click)="btn_Action(eachitem)">
          <div class="item">
            <img src="{{eachitem.imgpath}}" alt="PROFILE" />
            <div class="container txt-home">
              <p>{{eachitem.title}}</p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
