<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">NIR-PKE Production Calibration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="h5" style="text-align: center; margin-top: 10px; color: #09203f;">
    <b>KCP</b>
  </div>

  <div class="h6" style="text-align: center; margin-top: 10px">
    <b>Date: {{currentdate}}</b>
  </div>

  <form [formGroup]="nirpkeproductioncalibrationForm">
    <ion-row class="form-row">
      <ion-col size="6">
        <div class="h7 text-dark">Time <sup>*</sup></div>
      </ion-col>
      <ion-col size="5">
        <ion-datetime
          class="h7 form-control"
          formControlName="txt_kcptime"
          display-format="HH:00"
          placeholder="Select Hour"
        ></ion-datetime>
      </ion-col>
    </ion-row>

    <ion-row class="form-row">
      <ion-col size="6">
        <div class="h7 text-dark">OC <sup>*</sup></div>
      </ion-col>
      <ion-col size="5">
        <input
          type="number"
          class="h7 form-control"
          formControlName="txt_oc"
        />
      </ion-col>
      <ion-col size="1">
        <div class="h7 text-dark"><b>%</b></div>
      </ion-col>
    </ion-row>


    <ion-row class="form-row">
      <ion-col size="6">
        <div class="h7 text-dark">M <sup>*</sup></div>
      </ion-col>
      <ion-col size="5">
        <input
          type="number"
          class="h7 form-control"
          formControlName="txt_m"
        />
      </ion-col>
      <ion-col size="1">
        <div class="h7 text-dark"><b>%</b></div>
      </ion-col>
    </ion-row>

    <div style="text-align: center">
      <button
        type="submit"
        class="btn btn-info"
        (click)="save()"
        style="margin-top: 10px; margin-bottom: 10px"
      >
      Save
      </button>
    </div>
  </form>
</ion-content>
