<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <!-- <ion-back-button color="whitefav"></ion-back-button> -->
      <ion-button color="whitefav" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Add New Job</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addnewjobForm">
    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">
          <b>Plan Date <sup>*</sup></b>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <ion-datetime
          class="h7 form-control"
          formControlName="txt_plandate"
          display-format="DD-MM-YYYY HH:mm"
        ></ion-datetime>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">
          <b>Category <sup>*</sup></b>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <select
          formControlName="select_category"
          class="h7 text-dark form-control"
        >
          <option value="" selected disabled hidden>Select Category</option>
          <option
            value="{{ parseString(value)}}"
            *ngFor="let value of categoryArr"
          >
            {{ value.categoryname }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">
          <b>Zone <sup>*</sup></b>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <select
          formControlName="select_zone"
          class="h7 text-dark form-control"
          (change)="onChangeZone()"
        >
          <option value="" selected disabled hidden>Select Zone</option>
          <option value="{{ parseString(value)}}" *ngFor="let value of zoneArr">
            {{ value.zone }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark"><b>Station <sup>*</sup></b></div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <select
          formControlName="select_station"
          class="h7 text-dark form-control"
          (change)="onChangeStation()"
        >
          <option value="" selected disabled hidden>Select Station</option>
          <option value="{{parseString(value)}}" *ngFor="let value of stationArr">
            {{ value.station }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark"><b>Machinery <sup>*</sup></b></div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <select
          formControlName="select_machinery"
          class="h7 text-dark form-control"
        >
          <option value="" selected disabled hidden>Select Machinery</option>
          <option value="{{parseString(value)}}" *ngFor="let value of machineryArr">
            {{ value.machinery }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">
          <b>Observation <sup>*</sup></b>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <select
          formControlName="select_observation"
          class="h7 text-dark form-control"
        >
          <option value="" selected disabled hidden>Select Observation</option>
          <option
            value="{{parseString(value)}}"
            *ngFor="let value of observationArr"
          >
            {{ value.observation }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">
          <b>Type <sup>*</sup></b>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <select formControlName="select_type" class="h7 text-dark form-control">
          <option value="" selected disabled hidden>Select Type</option>
          <option value="{{parseString(value)}}" *ngFor="let value of typeArr">
            {{ value.type }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">
          <b>Remarks <sup>*</sup></b>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <textarea
          class="h7 form-control"
          formControlName="taremarks"
          rows="4"
        ></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">
          <b>Assigned To <sup>*</sup></b>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <select
          formControlName="select_assignedto"
          class="h7 text-dark form-control"
        >
          <option value="" selected disabled hidden>Select AssignedTo</option>
          <option
            value="{{parseString(value)}}"
            *ngFor="let value of assignedtoArr"
          >
            {{ value.name }}
          </option>
        </select>
      </div>
    </div>

    <div style="text-align: right">
      <button
        type="submit"
        class="btn btn-warning"
        (click)="addNewRow()"
        style="margin: 10px"
      >
        Add Item
      </button>
    </div>

    <div formArrayName="itemRows">
      <ion-row>
        <div
          class="card gedf-card margin-bottom"
          *ngFor="let itemrow of addnewjobForm.controls.itemRows.controls; let i=index"
          [formGroupName]="i"
          style="width: 100%; margin: 10px"
        >
          <div class="card-header" style="text-align: center">
            <div class="h7 text-dark">
              <b
                >Category :
                {{getItembyKey('select_category',itemrow,'categoryname')}}
              </b>
            </div>
          </div>
          <div
            style="
              margin-top: 10px;
              margin-bottom: 10px;
              margin-left: 5px;
              margin-right: 5px;
            "
          >
            <div class="h7 text-dark">
              Zone :
              {{getItembyKey('select_zone',itemrow,'zone')}}
            </div>

            <div class="h7 text-dark">
              Station :
              {{getItembyKey('select_station',itemrow,'station')}}
            </div>

            <div class="h7 text-dark">
              Machinery :
              {{getItembyKey('select_machinery',itemrow,'machinery')}}
            </div>

            <div class="h7 text-dark">
              Observation :
              {{getItembyKey('select_observation',itemrow,'observation')}}
            </div>

            <div class="h7 text-dark">
              Type :
              {{getItembyKey('select_type',itemrow,'type')}}
            </div>

            <div class="h7 text-dark">
              Remarks :
              {{itemrow.get('taremarks').value}}
            </div>

            <div class="h7 text-dark">
              Assigned To :
              {{getItembyKey('select_assignedto',itemrow,'name')}}
            </div>

            <button
              type="button"
              class="btn btn-danger card-link ion-text-end btn-color"
              (click)="deleteRow(i)"
            >
              <ion-icon name="trash-outline"></ion-icon>
            </button>
          </div>
        </div>
      </ion-row>
    </div>

    <div
      style="text-align: center"
      *ngIf="addnewjobForm.controls.itemRows.controls.length > 0"
    >
      <button
        type="submit"
        class="btn btn-info"
        (click)="save()"
        style="margin-top: 10px; margin-bottom: 10px"
      >
        Save
      </button>
    </div>
  </form>
</ion-content>
