.wrappermanager {
    display: grid;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
  }
  
  .wrapper {
    display: grid;
    height: 80%;
    width: 100%;
    align-items: center;
    justify-items: center;
  }
  
  ion-grid{
    width: 100%;
  }
  
  .home-box {
    padding: 5px 5px 5px 5px;  
  }
  
  .img-home {
    margin: 0px 28px 0px 28px;
    padding: 15px 30px 0px 30px;
  }
  
  .card-height {
    height: 100%;
    width: 100%;    
  }
  
  .txt-home {
    text-align: center;
    margin-top: 10px;  
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px; /* 5px rounded corners */
    padding: 5px;    
  }
  
  .bg-light-color {
    --color: var(--ion-color-lightorange);
  }
  
  div.item {
    text-align: center;
    padding: 0px 0px 0px 0px;
  }
  
  img {
    width: 80px;
    height: 80px;
  }
  
  .engineerimg {
    width: 64px;
    height: 64px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .lbl-head {
    padding-left: 10px;
    padding-top: 10px;
  }
  .lbl-desc {
    padding-left: 5px;
    padding-top: 5px;
  }
  
  .bg-yellow {
    //background-color: #474747;
    background-color: #000000;
    padding: 10px;
  }
  
  .bg-light-color {
    --color: var(--ion-color-light-contrast);
  }
  
  .lbl-head {
    padding-left: 10px;
    padding-top: 10px;
  }
  .lbl-desc {
    padding-left: 5px;
    padding-bottom: 0px;
  }
  .lbl-direction-right {
    width: 100%;
    text-align: right;
    padding: 5px;
  }
  
  .row-width-100 {
    width: 100%;
    margin: 10px;
    text-align: right;
  }
  
  p 
  {
    font-size: 10px;
  }
  
  .row-reverse {
    flex-direction: row-reverse;
  }
  
  .btn-color {
    background-color: red;
    border-color: red;
  }
  
  .btn-yellow-color {
    background-color: green;
    border-color: green;
  }
  .margin-bottom {
    margin-bottom: 10px;
  }
  .h7 {
    font-size: 12px;
  }
  
  .vertical-align-content {
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
  }
  
  .badgecolor {
    position: absolute;
    opacity: 0.9;
    background: blue;
    padding: 5px;
    margin: 5px;
    color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  
  p{
    font-size: 14px;
    font-weight: bold;
  }