<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <!-- <ion-back-button color="whitefav"></ion-back-button> -->
      <ion-button color="whitefav" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">{{machinery}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="breakdowndowntimedetailForm">
    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark"><b>Machinery Type</b></div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <input
          type="text"
          class="h7 form-control text-dark readonly"
          value="{{breakdowntype}}"
          readonly
        />
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark"><b>Zone</b></div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <input
          type="text"
          class="h7 form-control text-dark readonly"
          value="{{zone}}"
          readonly
        />
      </div>
    </div>

    <div *ngIf="station!=''">
      <div class="form-row">
        <div class="col">
          <div class="h7 text-dark"><b>Station</b></div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <input
            type="text"
            class="h7 form-control text-dark readonly"
            value="{{station}}"
            readonly
          />
        </div>
      </div>
    </div>

    <div *ngIf="machinery!=''">
      <div class="form-row">
        <div class="col">
          <div class="h7 text-dark"><b>Machinery</b></div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <input
            type="text"
            class="h7 form-control text-dark readonly"
            value="{{machinery}}"
            readonly
          />
        </div>
      </div>
    </div>

    <div *ngIf="part!=''">
      <div class="form-row">
        <div class="col">
          <div class="h7 text-dark"><b>Part</b></div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <input
            type="text"
            class="h7 form-control text-dark readonly"
            value="{{part}}"
            readonly
          />
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark"><b>Breakdown Time</b></div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <input
          type="text"
          class="h7 form-control text-dark readonly"
          value="{{breakdowntime}}"
          readonly
        />
      </div>
    </div>

    <div *ngIf="severitylevel!=''">
      <div class="form-row">
        <div class="col">
          <div class="h7 text-dark"><b>Severity Level</b></div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <input
            type="text"
            class="h7 form-control text-dark readonly"
            value="{{severitylevel}}"
            readonly
          />
        </div>
      </div>
    </div>

    <div *ngIf="complainantremarks != ''">
      <div class="form-row">
        <div class="col">
          <div class="h7 text-dark">
            <div class="h7 text-dark"><b>Complainant Remarks</b></div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="h7 text-dark">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{complainantremarks}}
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="complainantimage > 0">
      <div class="h7 text-dark" style="text-align: left; padding-left: 10px">
        <b>Complainant Image</b>
      </div>

      <ion-row class="rowalign" *ngIf="complainantimage1 != '' || complainantimage2 != ''">
        <ion-col style="padding: 0px; text-align: center">
          <div class="h7 colmarginbottom text-muted">Image 1</div>
          <div class="imagePreview" *ngIf="complainantimage1 == ''"></div>
          <div class="imagePresent" *ngIf="complainantimage1 != ''">
            <img class="imagePresent" src="{{complainantimage1}}" />
          </div>
        </ion-col>

        <ion-col style="padding: 0px; text-align: center">
          <div class="h7 colmarginbottom text-muted">Image 2</div>
          <div class="imagePreview" *ngIf="complainantimage2 == ''"></div>
          <div class="imagePresent" *ngIf="complainantimage2 != ''">
            <img class="imagePresent" src="{{complainantimage2}}" />
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="rowalign" *ngIf="complainantimage3 != '' || complainantimage4 != ''">
        <ion-col style="padding: 0px; text-align: center">
          <div class="h7 colmarginbottom text-muted">Image 3</div>
          <div class="imagePreview" *ngIf="complainantimage3 == ''"></div>
          <div class="imagePresent" *ngIf="complainantimage3 != ''">
            <img class="imagePresent" src="{{complainantimage3}}" />
          </div>
        </ion-col>

        <ion-col style="padding: 0px; text-align: center">
          <div class="h7 colmarginbottom text-muted">Image 4</div>
          <div class="imagePreview" *ngIf="complainantimage4 == ''"></div>
          <div class="imagePresent" *ngIf="complainantimage4 != ''">
            <img class="imagePresent" src="{{complainantimage4}}" />
          </div>
        </ion-col>
      </ion-row>

    </div>

    <hr />

    <!-- <div *ngIf="replacepartflag==true">
      <div class="form-row">
        <div class="col">
          <div class="h7 text-dark"><b>Replaced Part <sup>*</sup></b></div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <select formControlName="select_replacedpart" class="h7 text-dark form-control">
            <option value="" selected disabled hidden>Select</option>
            <option value="{{item.id}}" *ngFor="let item of replacedpartArr">
              {{ item.part }}
            </option>
          </select>
        </div>
      </div>
    </div> -->

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">
          <b>Rectified Time <sup>*</sup></b>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <ion-datetime
          class="h7 form-control"
          formControlName="txt_rectifiedtime"
          display-format="DD-MM-YYYY HH:mm"
        ></ion-datetime>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">
          <b>Foreman Remarks <sup>*</sup></b>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <textarea
          class="h7 form-control"
          formControlName="taforemanremarks"
          rows="4"
        ></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">
          <b>Foreman Status <sup>*</sup></b>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <select formControlName="select_status" class="h7 text-dark form-control">
          <option value="" selected disabled hidden>Select Status</option>
          <option value="{{parseString(value)}}" *ngFor="let value of statusArr">
            {{ value.status }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">
          <b>Action <sup>*</sup></b>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <select formControlName="select_breakdownaction" class="h7 text-dark form-control">
          <option value="" selected disabled hidden>Select Action</option>
          <option value="{{value.id}}" *ngFor="let value of breakdownactionArr">
            {{ value.action }}
          </option>
        </select>
      </div>
    </div>

    <ion-row class="form-row">
      <ion-col size="11">
        <div class="h7 text-dark">
          <b>Reset Machine Running Hour</b>
        </div>        
      </ion-col>
      <ion-col size="1">
        <ion-checkbox style="vertical-align: middle;" (ionChange)="isMachineRunningHourChecked($event)"></ion-checkbox>
      </ion-col>
    </ion-row>

    <div class="form-row imgmarigin">
      <label class="h7 text-dark"><b>Rectified Image</b></label>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 nopadding" style="text-align: right">
            <div
              class="imagePreview"
              *ngIf="imagePaths.rectifiedimagepath == ''"
            ></div>
            <div
              class="imagePresent"
              *ngIf="imagePaths.rectifiedimagepath != ''"
            >
              <img class="imagePresent" [src]="imagePaths.rectifiedimagepath" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 nopadding" style="text-align: right">
            <label class="btn btn-warning">
              Upload
              <input
                type="button"
                class="uploadFile img"
                value="Upload Photo"
                style="width: 0px; height: 0px; overflow: hidden; display: none"
                (click)="ImageUpload('ReportedMaintenance')"
              />
            </label>
          </div>
        </div>
      </div>
    </div>

    <div style="text-align: center">
      <button
        type="submit"
        class="btn btn-info"
        (click)="save()"
        style="margin-top: 10px; margin-bottom: 10px"
      >
        Save
      </button>
    </div>
  </form>
</ion-content>
