<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <!-- <ion-back-button color="whitefav"></ion-back-button> -->
      <ion-button color="whitefav" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Breakdown / Downtime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="newbreakdowndowntimeForm">
    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">
          Machinery Type <sup>*</sup>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <input type="text" class="h7 form-control text-dark readonly" value="{{machinerytypename}}" readonly/>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">Zone</div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <input type="text" class="h7 form-control text-dark readonly" value="{{zonename}}" readonly/>
      </div>
    </div>
    
    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">Station</div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <input type="text" class="h7 form-control text-dark readonly" value="{{stationname}}" readonly/>        
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">Machinery</div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">        
        <input type="text" class="h7 form-control text-dark readonly" value="{{machineryname}}" readonly/>
      </div>
    </div>

    <div *ngIf="partflag==true">
      <div class="form-row">
        <div class="col">
          <div class="h7 text-dark">Part</div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">        
          <input type="text" class="h7 form-control text-dark readonly" value="{{partname}}" readonly/>
        </div>
      </div>
    </div>

    <div *ngIf="selectpartflag==true">
      <div class="form-row">
        <div class="col">
          <div class="h7 text-dark">Part <sup>*</sup></div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <select formControlName="select_part" class="h7 text-dark form-control">
            <option value="" selected disabled hidden>Select</option>
            <option value="{{item.id}}" *ngFor="let item of partArr">
              {{ item.part }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">Breakdown Time <sup>*</sup></div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <ion-datetime class="h7 form-control" formControlName="txt_breakdowntime" display-format="DD-MM-YYYY HH:mm"></ion-datetime>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">
          Severity Level <sup>*</sup>
        </div>
      </div>
    </div>
  
    <div class="form-row">
      <div class="col">
        <select formControlName="select_severity" class="h7 form-control">
          <option value="" selected disabled hidden>Select Severity Level</option>
          <option value="Minor">Minor</option>
          <option value="Major">Major</option>
          <option value="Critical">Critical</option>
        </select>
      </div>
    </div>

    <!-- <div class="form-row imgmarigin">
        <label class="h7 text-dark">Complainant Image</label>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 nopadding" style="text-align: right">
              <div
                class="imagePreview"
                *ngIf="imagePaths.complianantimagepath == ''"
              ></div>
              <div
                class="imagePresent"
                *ngIf="imagePaths.complianantimagepath != ''"
              >
                <img
                  class="imagePresent"
                  [src]="imagePaths.complianantimagepath"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4 nopadding" style="text-align: right">
              <label class="btn btn-warning">
                Upload<input
                  type="button"
                  class="uploadFile img"
                  value="Upload Photo"
                  style="width: 0px; height: 0px; overflow: hidden; display: none"
                  (click)="ImageUpload('ComplainantImage')"
                />
              </label>
            </div>
          </div>
        </div>
      </div> -->

    <div class="form-row">
      <div class="col">
        <div class="h7 text-dark">Complainant Remarks <sup>*</sup></div>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <textarea class="h7 form-control" formControlName="tacomplaintremarks" rows="4" autosize></textarea>
      </div>
    </div>

    <div class="h7 text-dark" style="text-align: left; padding-left: 10px">
      Complainant Image
    </div>

    <ion-row class="rowalign">
      <ion-col style="padding: 0px; text-align: center">
        <div class="h7 colmarginbottom text-muted">Image 1</div>
        <div class="imagePreview" *ngIf="imagePaths.complianantimagepath1 == ''"></div>
        <div class="imagePresent" *ngIf="imagePaths.complianantimagepath1 != ''">
          <img class="imagePresent" [src]="imagePaths.complianantimagepath1" />
        </div>

        <label class="btn btn-warning">Upload<input type="button" class="uploadFile img" value="Upload Photo"
              style="width: 0px; height: 0px; overflow: hidden; display: none"
              (click)="ImageUpload('ComplainantImage1')"
        />
        </label>
      </ion-col>

      <ion-col style="padding: 0px; text-align: center">
        <div class="h7 colmarginbottom text-muted">Image 2</div>
        <div
            class="imagePreview"
            *ngIf="imagePaths.complianantimagepath2 == ''"
        ></div>
        <div class="imagePresent" *ngIf="imagePaths.complianantimagepath2 != ''">
            <img class="imagePresent" [src]="imagePaths.complianantimagepath2" />
        </div>

        <label class="btn btn-warning">
            Upload<input
              type="button"
              class="uploadFile img"
              value="Upload Photo"
              style="width: 0px; height: 0px; overflow: hidden; display: none"
              (click)="ImageUpload('ComplainantImage2')"
            />
        </label>
      </ion-col>      
    </ion-row>

    <ion-row class="rowalign">
      <ion-col style="padding: 0px; text-align: center">
        <div class="h7 colmarginbottom text-muted">Image 3</div>
        <div
            class="imagePreview"
            *ngIf="imagePaths.complianantimagepath3 == ''"
        ></div>
        <div class="imagePresent" *ngIf="imagePaths.complianantimagepath3 != ''">
          <img class="imagePresent" [src]="imagePaths.complianantimagepath3" />
        </div>

        <label class="btn btn-warning">
            Upload<input
              type="button"
              class="uploadFile img"
              value="Upload Photo"
              style="width: 0px; height: 0px; overflow: hidden; display: none"
              (click)="ImageUpload('ComplainantImage3')"
        />
        </label>
      </ion-col>

      <ion-col style="padding: 0px; text-align: center">
        <div class="h7 colmarginbottom text-muted">Image 4</div>
        <div
            class="imagePreview"
            *ngIf="imagePaths.complianantimagepath4 == ''"
        ></div>
        <div class="imagePresent" *ngIf="imagePaths.complianantimagepath4 != ''">
          <img class="imagePresent" [src]="imagePaths.complianantimagepath4" />
        </div>

        <label class="btn btn-warning">
            Upload<input
              type="button"
              class="uploadFile img"
              value="Upload Photo"
              style="width: 0px; height: 0px; overflow: hidden; display: none"
              (click)="ImageUpload('ComplainantImage4')"
        />
        </label>
      </ion-col>
    </ion-row>

    <div style="text-align: center">
      <button
          type="submit"
          class="btn btn-info"
          (click)="save()"
          style="margin-top: 10px; margin-bottom: 10px"
      >
        Save
      </button>
    </div>
  </form>
</ion-content>
